/* universal styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* app styles */
body{
  background-color: hsl(257, 40%, 49%);
  background-image: url(./layout/images/bg-desktop.svg);
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;

}

/* navbar styles */
.nav_menu{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: fit-content;
  padding: 0.8em;
}

.huddle_logo{
  width: 10em;
}

/* hero styles */